.member *, .member::after, ::before {
    box-sizing: border-box
}

table {
    border-collapse: collapse
}

.member .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529
}

.member .table td, .member .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.member .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.member .table tbody + tbody {
    border-top: 2px solid #dee2e6
}

.member .table-sm td, .member .table-sm th {
    padding: .3rem
}

.member .table-bordered {
    border: 1px solid #dee2e6
}

.member .table-bordered td, .member .table-bordered th {
    border: 1px solid #dee2e6
}

.member .table-bordered thead td, .member .table-bordered thead th {
    border-bottom-width: 2px
}

.member .table-borderless tbody + tbody, .member .table-borderless td, .member .table-borderless th, .member .table-borderless thead th {
    border: 0
}

.member .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.member .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075)
}

.member .table-primary, .member .table-primary > td, .member .table-primary > th {
    background-color: #b8daff
}

.member .table-primary tbody + tbody, .member .table-primary td, .member .table-primary th, .member .table-primary thead th {
    border-color: #7abaff
}

.member .table-hover .member .table-primary:hover {
    background-color: #9fcdff
}

.member .table-hover .member .table-primary:hover > td, .member .table-hover .member .table-primary:hover > th {
    background-color: #9fcdff
}

.member .table-secondary, .member .table-secondary > td, .member .table-secondary > th {
    background-color: #d6d8db
}

.member .table-secondary tbody + tbody, .member .table-secondary td, .member .table-secondary th, .member .table-secondary thead th {
    border-color: #b3b7bb
}

.member .table-hover .member .table-secondary:hover {
    background-color: #c8cbcf
}

.member .table-hover .member .table-secondary:hover > td, .member .table-hover .member .table-secondary:hover > th {
    background-color: #c8cbcf
}

.member .table-success, .member .table-success > td, .member .table-success > th {
    background-color: #c3e6cb
}

.member .table-success tbody + tbody, .member .table-success td, .member .table-success th, .member .table-success thead th {
    border-color: #8fd19e
}

.member .table-hover .member .table-success:hover {
    background-color: #b1dfbb
}

.member .table-hover .member .table-success:hover > td, .member .table-hover .member .table-success:hover > th {
    background-color: #b1dfbb
}

.member .table-info, .member .table-info > td, .member .table-info > th {
    background-color: #bee5eb
}

.member .table-info tbody + tbody, .member .table-info td, .member .table-info th, .member .table-info thead th {
    border-color: #86cfda
}

.member .table-hover .member .table-info:hover {
    background-color: #abdde5
}

.member .table-hover .member .table-info:hover > td, .member .table-hover .member .table-info:hover > th {
    background-color: #abdde5
}

.member .table-warning, .member .table-warning > td, .member .table-warning > th {
    background-color: #ffeeba
}

.member .table-warning tbody + tbody, .member .table-warning td, .member .table-warning th, .member .table-warning thead th {
    border-color: #ffdf7e
}

.member .table-hover .member .table-warning:hover {
    background-color: #ffe8a1
}

.member .table-hover .member .table-warning:hover > td, .member .table-hover .member .table-warning:hover > th {
    background-color: #ffe8a1
}

.member .table-danger, .member .table-danger > td, .member .table-danger > th {
    background-color: #f5c6cb
}

.member .table-danger tbody + tbody, .member .table-danger td, .member .table-danger th, .member .table-danger thead th {
    border-color: #ed969e
}

.member .table-hover .member .table-danger:hover {
    background-color: #f1b0b7
}

.member .table-hover .member .table-danger:hover > td, .member .table-hover .member .table-danger:hover > th {
    background-color: #f1b0b7
}

.member .table-light, .member .table-light > td, .member .table-light > th {
    background-color: #fdfdfe
}

.member .table-light tbody + tbody, .member .table-light td, .member .table-light th, .member .table-light thead th {
    border-color: #fbfcfc
}

.member .table-hover .member .table-light:hover {
    background-color: #ececf6
}

.member .table-hover .member .table-light:hover > td, .member .table-hover .member .table-light:hover > th {
    background-color: #ececf6
}

.member .table-dark, .member .table-dark > td, .member .table-dark > th {
    background-color: #c6c8ca
}

.member .table-dark tbody + tbody, .member .table-dark td, .member .table-dark th, .member .table-dark thead th {
    border-color: #95999c
}

.member .table-hover .member .table-dark:hover {
    background-color: #b9bbbe
}

.member .table-hover .member .table-dark:hover > td, .member .table-hover .member .table-dark:hover > th {
    background-color: #b9bbbe
}

.member .table-active, .member .table-active > td, .member .table-active > th {
    background-color: rgba(0, 0, 0, .075)
}

.member .table-hover .member .table-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.member .table-hover .member .table-active:hover > td, .member .table-hover .member .table-active:hover > th {
    background-color: rgba(0, 0, 0, .075)
}

.member .table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55
}

.member .table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.member .table-dark {
    color: #fff;
    background-color: #343a40
}

.member .table-dark td, .member .table-dark th, .member .table-dark thead th {
    border-color: #454d55
}

.member .table-dark.member .table-bordered {
    border: 0
}

.member .table-dark.member .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05)
}

.member .table-dark.member .table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .075)
}

@media (max-width: 575.98px) {
    .member .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .member .table-responsive-sm > .member .table-bordered {
        border: 0
    }
}

@media (max-width: 767.98px) {
    .member .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .member .table-responsive-md > .member .table-bordered {
        border: 0
    }
}

@media (max-width: 991.98px) {
    .member .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .member .table-responsive-lg > .member .table-bordered {
        border: 0
    }
}

@media (max-width: 1199.98px) {
    .member .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .member .table-responsive-xl > .member .table-bordered {
        border: 0
    }
}

.member .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.member .table-responsive > .member .table-bordered {
    border: 0
}

.member .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal
}


.member .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6
}

.member .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.member .page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.member .page-item:first-child .member .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.member .page-item:last-child .member .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.member .page-item.active .member .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.member .page-item.disabled .member .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6
}

.pagination-lg .member .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5
}

.pagination-lg .member .page-item:first-child .member .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem
}

.pagination-lg .member .page-item:last-child .member .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.pagination-sm .member .page-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5
}

.pagination-sm .member .page-item:first-child .member .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .member .page-item:last-child .member .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.member .btn {
    margin: 0;
    line-height: 0px;
    min-height: 0px;
    min-width: auto;
    width: 43px;
}

.cancle-btn {
    background-color: #ff82ad !important;
}

.member .btn:hover {
    color: #212529;
    text-decoration: none;
}

.member .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
