@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

#adSurvey {
    padding: 5px;
    background-image: url("../img/ad/adsurveybg.jpg");
    background-size: cover;
}

#adSurvey h1{
    font-size: 1.8em ;
}

#adSurvey *{
    font-family: 'Yeon Sung', cursive ;
    font-size: 1.04em;
}

.sv-completedpage {
    margin:0px;
    height: 100vh;
}


