/*--------- keyframes ---------*/
@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }
    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }
}

@keyframes first_main_h2{
    0%{
    }
    10%{
        transform: rotate(5deg);
    }
    20%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(-5deg);
    }
    40%{
        transform: rotate(0deg);
    }
}
/*--------- keyframes end ---------*/


.first_main_h2 {
    margin: 11vw 0 6vw 0;
    animation: first_main_h2 5s infinite 3s linear;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 10px;
    color: white;
}

footer div {
    color: blanchedalmond;
    margin-bottom: 5px;
}
.sentloveimg {
    height: 50vh;
}
/*--------- input start ---------*/
.input_div {
    display: inline-block;
    background-image: url("../img/input_div.gif");
    background-position: center;
    border-radius: 8px;
    padding: 3px;
    /*margin-left: 90px;*/
}

.input_div input {
    height: 3vh;
    width: 20vw;
    min-width: 200px;
    min-height: 23px;
    max-height: 33px;
    margin: 4px;
    padding: 8px;
    border: none;
    background-color: #ffe4e4;
    text-align: center;
}

.input_info_div{
    display: contents;
}
/*--------- input end ---------*/

/*--------- button start ---------*/
.btn{
    margin: 4px;
    padding: 8px;
    height: 4vh;
    width: 96%;
    min-width: 200px;
    min-height: 32px;
    max-height: 48px;
    background-color: #7ec0ffdb !important;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.first-component .btn:hover {
    font-style: italic;
}

.first-component .btn:active {
    color: #c7d3ff;
}
.modalBtn{
    margin-top: 35px;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 244, 0, 0.86) !important;
    border-radius: 3px;
    border: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}
/*--------- button end ---------*/

.svg_my_phone{
    margin-bottom: 41px;
}

/*--------- mouse svg start ---------*/
.mouse {
    max-width: 1.5rem;
    width: 100%;
    height: auto;
}

.scroll {
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 21px;
    will-change: transform, opacity;
    opacity: 1;
}

.scroll-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.scroll-link:hover,
.scroll-link:focus {
    text-decoration: none;
}
/*--------- mouse svg end ---------*/

@media (min-width: 320px) and (max-width: 480px) {
    .svg_my_phone{
        display: none;
    }
    .input_div {
        margin-left: 0px;
    }
    .input_div {
        margin-top: 20px;
    }
}