.youtube {
    margin-top: 10vh;
    display: inline-flex;
    position: relative;
    width: 60%;
    padding-bottom: 33.81%;
}

.youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%
}

#address {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #ffffd86e;
}

#address p{
    font-family: inherit;
    margin: 0;
    color: #7a7a7a;
}

#address span{
    color: #ff5656;
}

#address a{
    cursor: pointer;
}

#address a:hover{
    color: blue;
}