.third-component h2 {
    margin-top: 20px;
}

.youtube {
    margin-top: 40px;
    display: inline-block;
    width: 57vh;
    height: 32vh;
}

.youtube iframe {
   /* position: absolute;
    width: 100%;
    height: 100%;
    max-height: 395px;*/
}
.intro_vid {
    display: inline-block;
    margin-top: 4vh;
    width: 80vw;
    max-width: 660px;
}
/* 광고 영역 */
.ad2 {
    display: inline-block;
    margin-top: 3vh;
    width: 18vw;
    height: 18vw;
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 300px;
}

.ad2 .adpic {
    top:0; left: 0;
    width :100%;
    height: 100%;
}
/*---광고 영역 끝---*/

#address {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #ffffd86e;
}

#address p{
    font-family: inherit;
    margin: 0;
    color: #7a7a7a;
}

#address span{
    color: #ff5656;
}

#address a{
    cursor: pointer;
}

#address a:hover{
    color: blue;
}

#address .adText{
    font-weight: bold;
    color: mediumblue;
}

.modalBtn:hover {
    font-size: 13px;
}
.modalBtn:active {
    color:grey;
}

.third_feed {
    background-color: red;
}


